<div class="row">
  <div class="col-xs-6">
    <div class="col-xs-3">
      <img src="./assets/empty-movie-image.png" alt="empty-image" class="empty-movie-image"/>
    </div>
    <div class="col-xs-3">
      <div>Name: {{movie.name}}</div>
      <div>Director: {{movie.director}}</div>
      <div>Producer: {{movie.producer}}</div>
      <div>Release Year: {{movie.releaseYear}}</div>
    </div>
  </div>
  <div class="col-xs-6">
    <ngb-rating [(rate)]="currentRate"></ngb-rating>
    <hr>
    <pre>Rate <b>{{currentRate}}</b></pre>
  </div>
</div>
